:root {
  --cor-primaria: #ffb6c1; /* Rosa Claro (Hello Kitty) */
  --cor-secundaria: #fff0f5; /* Rosa Muito Claro */
  --cor-fundo: #ffffff; /* Branco */
  --cor-texto: #333333; /* Preto (para contraste) */

  --cor-laço: #ff69b4; /* Rosa vibrante (laço) */
  --cor-nariz: #ffd700; /* Amarelo (nariz da Hello Kitty) */
  --cor-olhos: #000000; /* Preto (olhos) */

  --fonte-principal: 'Segoe UI', sans-serif;

  --espaco-sm: 0.5rem;
  --espaco-md: 1rem;
  --espaco-lg: 2rem;
  --borda-arredondada: 12px;

  --toastify-color-light: var(--cor-fundo);

  --toastify-color-info: var(--cor-primaria);
  --toastify-color-success: var(--cor-laço);
  --toastify-color-warning: var(--cor-nariz);
  --toastify-color-error: red;
  --toastify-text-color-light: var(--cor-texto);
  --toastify-text-color-dark: var(--cor-texto);
  --toastify-color-progress-light: var(--cor-laço);
  --toastify-color-progress-dark: var(--cor-laço);
}

/* Modo Claro */
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-principal);
  transition: all 0.3s ease;
}

a {
  color: var(--cor-laço);
}

[data-theme='dark'] {
  --cor-fundo: #1f1f1f; /* Fundo escuro */
  --cor-texto: #ffffff; /* Texto claro */
}

/* Modo Escuro */
body[data-theme='dark'] {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  --toastify-text-color-light: #e6e9f0;
  --toastify-text-color-dark: #e6e9f0;
}
