.grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  width: 100%;
  justify-content: left;
  overflow-x: auto;
  padding: 1rem;
  border-block: 1px solid var(--cor-primaria);
}
.listaDeItens {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  justify-content: start;
  margin-block: 4rem;
}
