.grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  width: 100%;
  justify-content: left;
  overflow-x: auto;
  padding-block: 1rem;
  padding-left: 0.8rem;
  border-block: 1px solid var(--cor-primaria);
}

.listaDeItens {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
@media (max-width: 500px) {
  .grid {
    width: 95%;
    margin-left: 2.5%;
  }
}
