.grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  width: 100%;
  justify-content: left;
  overflow-x: auto;
  padding-block: 1rem;
  padding-left: 0.8rem;
  border-block: 1px solid var(--cor-primaria);
}

.listaDeItens {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
@media (max-width: 500px) {
  .grid {
    width: 95%;
    margin-left: 2.5%;
  }
}
.criarNovo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  background: var(--cor-primaria);
  color: #fff;
  border-radius: 0.8rem;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
}

.criarNovo svg {
  width: 1.8rem;
  height: 1.8rem;
}
.criarNovo:hover {
  filter: brightness(80%);
  transition: all 0.1 ease-in-out;
}
